# Godot 4+ specific ignores
.godot/

# Ignore overrides so that each developer can have per-workstation settings
# for things like display size. See the README for details.
override.cfg

# Gut editor config thrashes since it stores which test is selected.
# The proper configuration settings are specified in .gutconfig.json.
.gut_editor_config.json
